@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
  font-family: "Times Now";
  src: url("/TimesNow-SemiLight.woff");
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-black;
    @apply bg-white;
    @apply font-serif;
    @apply subpixel-antialiased;
    @apply overflow-y-hidden;
  }
  body {
    font-size: 18px;
    min-height: 100vh;
  }
  a:hover {
    @apply underline underline-offset-4;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
