@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    @apply bg-teal-50;
  }
  body {
    font-size: 16px;
    min-height: 100vh;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
